nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 60px;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 150px;
}

nav li {
  margin: 0 1rem;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #555;
  border-radius: 4px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.profile-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 999px) {
  nav div {
    display: none; /* Oculta el contenedor de la barra de navegación */
  }

  .profile-button {
    display: flex; /* Muestra el contenedor de la imagen del perfil */
    justify-content: flex-end; /* Alinea la imagen del perfil a la derecha */
    margin-right: 20px; /* Agrega un margen derecho */
  }

  .profile-button img {
    display: block; /* Muestra la imagen del perfil */
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.card h5 {
  margin: 10px 0 5px 0;
}

.card p {
  margin-bottom: 10px;
}




